.taskButton {
    display: block;
    color: #fff;
    background-color: rgb(17, 192, 174);
    padding: 10px 20px;
    border: 0px;
    border-radius: 30px;
    margin: 0 auto;
    cursor: pointer;
}

.taskButton:hover {
    transform: scale(1.1);
}